{
  "presets": ["react-app"],
  "plugins": [
    ["import", { "libraryName": "antd", "style": false }],
    [
      "import-inspector",
      {
        "webpackRequireWeakId": true
      }
    ],
    "lodash"
  ]
}
